
<ul>
    <li routerLink ="/home">HOME</li>
    <li routerLink ="/aboutus">About US</li>
    <LI>Contact</LI>
</ul>
<!-- 
<form [formGroup]="registerForm">
    <div>
    <input type="text" placeholder="email" formControlName="email">
    <p *ngIf="email.touched && email.invalid">Please Enter Email</p>
</div>
<div>
    <input type="password" placeholder="password" formControlName="password">
    <div *ngIf="password.touched && password.invalid">Please Enter password</div>
</div>
<div>
    <button type="button" (click)="submitFunction()" [disabled]="!registerForm.valid">Submit</button>
</div>
</form> -->
     <router-outlet></router-outlet>